h3 {
  text-align: center;
}

.board {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 300px;
}

#playButton {
  display: block;
  margin: 20px auto; /* Mantendo a margem superior e inferior e centralizando horizontalmente */
  margin-left: 875px; /* Adicionando uma margem à esquerda para mover o botão um pouco para a esquerda */
  font-size: 20px;
  padding: 15px 30px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#playButton:hover {
  background-color: #45a049;
}

#reloadButton {
  display: block;
  margin: 20px auto; /* Mantendo a margem superior e inferior e centralizando horizontalmente */
  margin-left: 820px; /* Adicionando uma margem à esquerda para mover o botão um pouco para a esquerda */
  font-size: 20px;
  padding: 15px 30px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#reloadButton:hover {
  background-color: #45a049;
}
